<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!--
        <File name="MyFile" fileName="all.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="Async"/>
        </Async>-->

        <RandomAccessFile name="RandomAccessFile" fileName="all.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.dtrade" level="debug" additivity="true">
            <AppenderRef ref="RandomAccessFile"/>
        </AsyncLogger>

        <AsyncLogger name="org.springframework.boot.actuate.endpoint.mvc.EndpointHandlerMapping" level="INFO"/>
        <AsyncLogger name="org.springframework.boot.web.servlet.filter.OrderedRequestContextFilter" level="INFO"/>

        <AsyncLogger name="org.springframework.boot.web.filter" level="INFO"/>

        <AsyncRoot level="INFO">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="RandomAccessFile"/>
        </AsyncRoot>

    </Loggers>
</Configuration>