@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('/css/fonts/PFDinTextPro-Light/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/PFDinTextPro-Light/PFDinTextPro-Light.woff') format('woff'), url('/css/fonts/PFDinTextPro-Light/PFDinTextPro-Light.ttf')  format('truetype'), url('/css/fonts/PFDinTextPro-Light/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextPro-Medium';
    src: url('/css/fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.woff') format('woff'), url('/css/fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.ttf')  format('truetype'), url('/css/fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.svg#PFDinTextPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('/css/fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.woff') format('woff'), url('/css/fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.ttf')  format('truetype'), url('/css/fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Thin';
    src: url('/css/fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.woff') format('woff'), url('/css/fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.ttf')  format('truetype'), url('/css/fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.svg#PFDinTextPro-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vijaya';
    src: url('/css/fonts/Vijaya/Vijaya.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/Vijaya/Vijaya.woff') format('woff'), url('/css/fonts/Vijaya/Vijaya.ttf')  format('truetype'), url('/css/fonts/Vijaya/Vijaya.svg#Vijaya') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vijaya-Bold';
    src: url('/css/fonts/Vijaya-Bold/Vijaya-Bold.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/Vijaya-Bold/Vijaya-Bold.woff') format('woff'), url('/css/fonts/Vijaya-Bold/Vijaya-Bold.ttf')  format('truetype'), url('/css/fonts/Vijaya-Bold/Vijaya-Bold.svg#Vijaya-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body
 {
    height: 100%;
}

.tro a:focus {
    outline: none;
    text-decoration: none;
}

.container.tro {
    min-height: 100%;
    height: auto;
}

.left-sidebar,.content {
    min-height: 100%;
    padding-top: 154px;
    padding-bottom: 200px;
    margin-top: -154px;
    z-index: 1;
}

.content {
    background: #fff;
    width: 778px;
}

.left-sidebar {
    background: #f7fafc;
    width: 507px;
    padding: 196px 20px 256px 52px;
}

.container.tro {
    width: 1300px;
    font-family: 'PFDinTextPro-Regular';
}

.container.tro * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container.tro .row {
    margin-left: 0;
}

.header {
    height: 154px;
    border-top: 10px solid #112c48;
    border-bottom: 10px solid #39a84c;
    background: url("/image/bg_header.png") no-repeat;
    padding: 30px 60px 44px 50px;
    width: 100%;
    z-index: 2;
    position: relative;
}

.header a:hover,
.footer a:hover {
    text-decoration: none;
}

.logo {
    width: 300px;
    height: 62px;
    padding-left: 72px;
    padding-top: 14px;
    background: url("/image/logo.png") no-repeat;
    font-family: Vijaya-Bold;
    font-size: 35px;
    color: #fff;
}

.logo span {
    font-family: Vijaya;
    font-size: 20px;
    color: #39a84c;
    display: block;
    letter-spacing: 4px;
}

.menu {
    font-family: 'PFDinTextPro-Medium';
    font-size: 0px;
    text-transform: uppercase;
    margin-top: 18px;
}

.menu li a{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color: #39a84c;
}

.menu li.profile a{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #fff;
}

.menu li.profile a:hover {
    border-color: #39a84c;
}

.menu li.profile i {
    width: 24px;
    height: 14px;
    display: inline-block;
    background: url("/image/menu_profile.png") no-repeat;
    margin-bottom: -2px;
}

.footer {
    height: 200px;
    border-top: 5px solid #39a84c;
    background: url("/image/bg_footer.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -200px;
    width: 100%;
    z-index: 2;
}

.footer-top {
    height: 133px;
    border-bottom: 1px solid #1b2630;
    padding: 32px 50px;
}

.copyright {
    text-align: right;
    font-family: PFDinTextPro-Regular;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}

.copyright span {
    display: block;
}

.footer-bottom {
    border-top: 1px solid #345371;
    padding: 20px;
}

.footer .social {
    margin: 0 auto;
    width: 190px;
}

.social li a {
    width: 24px;
    height: 20px;
    display: inline-block;
    background-image: url("/image/icons.png");
    background-repeat: no-repeat;
}

.facebook {
    background-position: 0 -26px;
}

.facebook:hover {
    background-position: 0 0;
}

.twitter {
    background-position: -36px -26px;
}

.twitter:hover {
    background-position: -36px 2px;
}

.in {
    background-position: -72px -26px;
}

.in:hover {
    background-position: -72px 0;
}

.google {
    background-position: -112px -26px;
}

.google:hover {
    background-position: -112px 0;
}

.wk {
    background-position: -148px -26px;
}

.wk:hover {
    background-position: -148px 0;
}

.table-header-blue {
    width: 100%;
    height: 52px;
    position: relative;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #153B61),
            color-stop(1, #0D2D4D)
    );
    background-image: -o-linear-gradient(bottom, #153B61 0%, #0D2D4D 100%);
    background-image: -moz-linear-gradient(bottom, #153B61 0%, #0D2D4D 100%);
    background-image: -webkit-linear-gradient(bottom, #153B61 0%, #0D2D4D 100%);
    background-image: -ms-linear-gradient(bottom, #153B61 0%, #0D2D4D 100%);
    background-image: linear-gradient(to bottom, #153B61 0%, #0D2D4D 100%);
    border-radius: 6px 6px 0 0;
}

.tro .left-sidebar .table-header-blue .bootstrap-select {
    height: 30px;
    width: 190px;
}

.tro .left-sidebar .table-header-blue .bootstrap-select .dropdown-toggle {
    border-radius: 0;
    background-image: none;
    background-color: #fff;
    border: none;
    margin-top: 10px;
}

.tro .left-sidebar .table-header-blue .bootstrap-select .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-top: 8px;
}

.tro .left-sidebar .table-header-blue .bootstrap-select .dropdown-menu.open {
    border-bottom: 1px solid #0f3051;
    border-left: 1px solid #0f3051;
    border-right: 1px solid #0f3051;
}

.tro .left-sidebar .table-header-blue .dropdown-toggle {
    box-shadow: none;
}

.table-header-blue > span {
    font-family: PFDinTextPro-Medium;
    font-size: 15px;
    color: #fff;
    margin: 18px 32px 0 30px;
}

.settings-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.table-header-blue .settings-wrapper > i {
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 0px;
    background-image: url("/image/filter.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.table-header-blue .dropdown-settings {
    background-position:-20px 0;
    margin-left: 6px;
    margin-right: 0px;
    position: relative;
}

.dropdown-settings-open {
    background: none repeat scroll 0 0 #d7dce0;
    height: 142px;
    position: absolute;
    right: -8px;
    top: 32px;
    width: 430px;
    border-radius: 6px;
    display: none;
    z-index: 2;
}

.dropdown-settings-open:before {
    border-bottom: 10px solid #d7dce0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 8px;
    top: -10px;
    width: 0;
}

 .table-striped.statistic tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th,
 .table-striped.statistic thead {
    background-color: #fff;
}

 table.statistic {
    width: 100%;
    border-color: #d7dce0;
     background-color: #f7fafc;
}

 .statistic th {
     font-weight: normal;
 }

.tro table.statistic td,
.tro table.statistic th,
.tro table.statistic tr {
    border-color: #d7dce0!important;
}

.table-bordered.statistic thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered.statistic thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered.statistic thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child,
.table-bordered.statistic thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child{
    border-radius: 0;
}

.statistic thead {
    font-family: PFDinTextPro-Regular;
    font-size: 15px;
    color: #28292f;
}

.statistic tbody {
    font-family: PFDinTextPro-Light;
    font-size: 13px;
    color: #28292f;
}

.statistic thead th {
    padding: 12px;
}

.statistic.big-table thead th {
    padding: 12px 16px;
}

.statistic tbody td {
    padding: 9px 5px 5px 5px;
    text-align: center;
}

.statistic.big-table tbody td {
    padding: 9px 5px 5px 5px;
}

.statistic.big-table thead tr th:last-child {
    width: 122px;
}

.statistic.big-table thead tr th:first-child {
    width: 74px;
}

.statistic.big-table thead tr th:nth-child(2) {
    width: 56px;
}

.statistic.big-table thead tr th:nth-child(3) {
    width: 80px;
}

.statistic.big-table thead tr th:nth-child(4) {
    width: 74px;
}

.statistic.big-table thead tr th:nth-child(5) {
    width: 74px;
}

.statistic.big-table thead tr th:nth-child(6) {
    width: 72px;
}

.statistic.big-table thead tr th:nth-child(7) {
    width: 74px;
}

.statistic.big-table thead tr th:nth-child(8) {
    width: 80px;
}

.information {
    width: 11px;
    height: 11px;
    position: relative;
    display: inline-block;
    background: url("/image/info.png") no-repeat;
    border-radius: 11px;
    cursor: pointer;
    margin-left: 4px;
}
.information:hover {
    background: url("/image/info-hover.png") no-repeat;
}

.statistic .inf {
    min-width: 52px;
    padding-left: 4px;
    padding-right: 4px;
}

.information .popup-info {
    width: 216px;
    padding: 14px;
    color: #28292f;
    font-size: 13px;
    font-family: PFDinTextPro-Regular;
    position: absolute;
    background: #fff;
    border-radius: 6px;
    top: 28px;
    left: -92px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(235,235,235,1);
    box-shadow: 0px 0px 1px 1px rgba(235,235,235,1);
    display: none;
}

.information:hover .popup-info{
    display: block;
}

.information .popup-info:before {
    width: 22px;
    height: 12px;
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    right: 50%;
    margin-left: -11px;
    background: url("/image/pupup-info.png") no-repeat;
}

.content {
    padding: 194px 50px 236px 20px;
}

 .graph-block {
    width: 522px;
}

.button-block {
    width: 182px;
    padding-right: 18px;
    font-family: PFDinTextPro-Light;
    font-size: 14px;
    color: #28292f;
}

a.button {
    width: 164px;
    height: 38px;
    display: block;
    text-align: center;
    font-family: PFDinTextPro-Medium;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 38px;
}

a.button:hover {
    text-decoration: none;
}

a.button.green {
    margin-top: 18px;
    margin-bottom: 20px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #4CC952),
            color-stop(1, #3AAA4D)
    );
    background-image: -o-linear-gradient(bottom, #4CC952 0%, #3AAA4D 100%);
    background-image: -moz-linear-gradient(bottom, #4CC952 0%, #3AAA4D 100%);
    background-image: -webkit-linear-gradient(bottom, #4CC952 0%, #3AAA4D 100%);
    background-image: -ms-linear-gradient(bottom, #4CC952 0%, #3AAA4D 100%);
    background-image: linear-gradient(to bottom, #4CC952 0%, #3AAA4D 100%);
    border: 1px solid #208d58;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(159,226,162,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(159,226,162,1);
    box-shadow: inset 0px 0px 0px 1px rgba(159,226,162,1);
}

a.button.green:hover,
a.button.green.active{
    background-image: none;
    background-color: #208d58;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(134,193,165,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(134,193,165,1);
    box-shadow: inset 0px 0px 0px 1px rgba(134,193,165,1);
}

a.button.arrow span:before {
    background: url("/image/Untitled-7.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 14px;
    margin: 0 14px -2px 0;
    width: 10px;
}

a.button.arrow.arrow-bottom span:before {
    transform: rotate(180deg);
}

.price {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.price span {
    font-family: PFDinTextPro-Medium;
    color: #fa1d3d;
    text-transform: lowercase;
}

a.button.red {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #a93d23;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(242,139,139,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(242,139,139,1);
    box-shadow: inset 0px 0px 0px 1px rgba(242,139,139,1);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #E72828),
            color-stop(1, #C01717)
    );
    background-image: -o-linear-gradient(bottom, #E72828 0%, #C01717 100%);
    background-image: -moz-linear-gradient(bottom, #E72828 0%, #C01717 100%);
    background-image: -webkit-linear-gradient(bottom, #E72828 0%, #C01717 100%);
    background-image: -ms-linear-gradient(bottom, #E72828 0%, #C01717 100%);
    background-image: linear-gradient(to bottom, #E72828 0%, #C01717 100%);
}

a.button.red:hover,
a.button.red.active{
    background-image: none;
 background-color: #a61c1c;
}

.btn-group.size .btn:first-child,
.btn-group.size .btn:last-child{
    width: 46px;
    background-color: #f7fafc;
}

.btn-group.size .btn {
    width: 72px;
    height: 38px;
    background-image: none;
    box-shadow: none;
    background-color: #fff;
    border-color: #d7dce0!important;
}

.btn-group.size input {
    margin-bottom: 0;
}

a.button.black {
    margin-top: 10px;
    margin-bottom: 16px;
    border: 1px solid #000;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(133,133,133,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(133,133,133,1);
    box-shadow: inset 0px 0px 0px 1px rgba(133,133,133,1);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #525252),
            color-stop(1, #1E1E1E)
    );
    background-image: -o-linear-gradient(bottom, #525252 0%, #1E1E1E 100%);
    background-image: -moz-linear-gradient(bottom, #525252 0%, #1E1E1E 100%);
    background-image: -webkit-linear-gradient(bottom, #525252 0%, #1E1E1E 100%);
    background-image: -ms-linear-gradient(bottom, #525252 0%, #1E1E1E 100%);
    background-image: linear-gradient(to bottom, #525252 0%, #1E1E1E 100%);
}

a.button.black:hover {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #363636),
            color-stop(1, #1C1C1C)
    );
    background-image: -o-linear-gradient(bottom, #363636 0%, #1C1C1C 100%);
    background-image: -moz-linear-gradient(bottom, #363636 0%, #1C1C1C 100%);
    background-image: -webkit-linear-gradient(bottom, #363636 0%, #1C1C1C 100%);
    background-image: -ms-linear-gradient(bottom, #363636 0%, #1C1C1C 100%);
    background-image: linear-gradient(to bottom, #363636 0%, #1C1C1C 100%);
}

.return span {
    display: block;
    font-size: 13px;
}

.return span:first-child {
    font-size: 14px;
    margin-bottom: 4px;
}

.graph-header {
    width: 522px;
    height: 52px;
    border: 1px solid #d7dce0;
    border-bottom: none;
    background-color: #f5f7fa;
    padding: 18px 18px 0 18px;
}

.graph-header a {
    color: #878787;
    font-size: 14px;
    font-family: PFDinTextPro-Regular;
    text-decoration: underline;
}

.graph-header a:hover {
    text-decoration: none;
}

.graph-header .date {
    color: #0f2f4f;
    font-size: 16px;
    font-family: PFDinTextPro-Medium;
}

.graph-block img {
    width: 522px;
}

.after-graph {
    font-family: PFDinTextPro-Regular;
    font-size: 14px;
    color: #39a84c;
    text-decoration: underline;
    margin: 20px 18px 24px 20px;
}

.after-graph:hover {
    text-decoration: none;
    color: #39a84c;
}

.big-table thead tr th{
    font-family: PFDinTextPro-Regular;
    font-size: 15px;
    border-bottom: 1px solid #d7dce0;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FBFBFB),
            color-stop(1, #E5E7E9)
    );
    background-image: -o-linear-gradient(bottom, #FBFBFB 0%, #E5E7E9 100%);
    background-image: -moz-linear-gradient(bottom, #FBFBFB 0%, #E5E7E9 100%);
    background-image: -webkit-linear-gradient(bottom, #FBFBFB 0%, #E5E7E9 100%);
    background-image: -ms-linear-gradient(bottom, #FBFBFB 0%, #E5E7E9 100%);
    background-image: linear-gradient(to bottom, #FBFBFB 0%, #E5E7E9 100%);
}

.statistic tbody tr:hover td{
    background: #d3dce7!important;
    border-color: #d3dce7;
}

.tro table.statistic tr.green-tr td{
    background: #c4eccb!important;
    border-left-color: #c4eccb!important;
    /*border-bottom: 1px solid #39a84c!important;
    border-top: 1px solid #39a84c!important;*/
}

.tro table.statistic tr.green-tr {
    outline: 1px solid #39a84c;
}

.tro table.statistic tr.green-tr td:first-child {
    /*border-left: 1px solid #39a84c!important;*/
}

.statistic tbody tr {
    cursor: pointer;
}

.tro table.statistic tr.green-tr td:last-child {
    /*border-right: 1px solid #39a84c!important;*/
}

.tro table.statistic tr.options-closed td{
    background: #f4e1e1!important;
    font-family: PFDinTextPro-Medium;
}

.tro table.statistic tr.options-closed.green-tr {
    outline: none;
}

.tro table.statistic tr.options-closed td:first-child {
    font-family: PFDinTextPro-Regular;
}
