<div class="def-cab-page" >
    <div class="def-cab-page__inner">
        <div class="def-cab-page__content">
            <h2 class="def-cab-page__heading">Forgot Password</h2>
            <div class="table-container">
                <div style="width: 400px; margin-left: 8px; margin-bottom: 10px;">
                    <form ng-submit="submit()" ng-controller="ForgotPasswordController as vm" >
                        <md-input-container class="md-block">
                            <!-- qUse floating placeholder instead of label -->
                            <md-icon src="/theme/app/img/round_email_black_24dp.png" > email </md-icon>
                            <input type="email" name="username" placeholder="Email (required)" ng-required="true" ng-model="vm.email">
                        </md-input-container>

                        <md-button type="submit" class="md-raised md-primary">Send</md-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
