<div class="def-cab-page" >
    <div class="def-cab-page__inner">
        <div class="def-cab-page__content">
            <h2 class="def-cab-page__heading">New Password</h2>
            <div class="table-container">
                <div style="width: 400px; margin-left: 8px; margin-bottom: 10px;">
                    <form ng-submit="submit()" ng-controller="RecoveryPasswordController as vm" >
                        <md-input-container md-no-float="" class="md-block">
                            <md-icon src="/theme/app/img/baseline_lock_black_24dp.png"> lock </md-icon>
                            <label for="newPassword">New password</label>
                            <input type="password" name="newPassword" ng-model="vm.pwd"
                                   ng-minlength="8" required />
                            <span class="help-block"
                                  ng-show="newPasswordForm.newPassword.$dirty && newPasswordForm.newPassword.$invalid">
                               Please enter a new password, it must be at least 8 characters long.
                        </span>
                        </md-input-container>
                        <md-input-container md-no-float="" class="md-block">
                            <md-icon src="/theme/app/img/baseline_lock_black_24dp.png"> lock </md-icon>
                            <label for="newPasswordConfirm">Confirm new password</label>
                            <input type="password" name="newPasswordConfirm"
                                   ng-model="vm.pwdCheck" ng-minlength="8"
                                   value-matches="account.password.new" required />
                            <span class="help-block"
                                  ng-show="newPasswordForm.newPasswordConfirm.$dirty && newPasswordForm.newPasswordConfirm.$invalid">
                                 Please enter the same password again to confirm.
                        </span>
                        </md-input-container>

                        <md-button type="submit" class="md-raised md-primary">Send</md-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
