<div class="def-cab-page">
    <div class="def-cab-page__inner">
        <div class="def-cab-page__content">
            <h2 class="def-cab-page__heading">Referral link</h2>

            <div class="lk-main-tabs">
                <div class="lk-main-tab">
                    <div class="lk-main-tab__table" >
                        <div ng-controller="AccountController as vm">
                            <div>www.exchange1.io/referral/{{vm.account.referral}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>