<div class="def-cab-page">
    <div class="def-cab-page__inner">
        <div class="def-cab-page__content">
            <h2 class="def-cab-page__heading">Referral link</h2>

            <div class="lk-main-tabs">
                <div class="lk-main-tab">
                    <div class="lk-main-tab__table" style="margin-left: 20px;" >
                        <div ng-controller="AccountController as vm">
                            Share this link with your friends to get free tokens

                            <div>Link www.korono.io/?ref={{vm.account.referral}}</div>
                            <div>Referred count {{vm.account.referredCount}}</div>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="www.korono.io/?ref={{vm.account.referral}}"
                                 data-title="This is unique invitation. Access your free tokens and trade for free stocks and crypto." data-description="Free stock and crypto trading"
                                 data-media="/theme/app/img/logo.png"></div>



                            <!--
                            <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5be1eeb9afad5b00117c8b06&product=inline-share-buttons' async='async'></script>
                            <div class="sharethis-inline-share-buttons"></div>
                            -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>