<div class="def-cab-page">
    <div class="def-cab-page__inner">
        <div class="def-cab-page__content">
            <h2 class="def-cab-page__heading">Referral link</h2>

            <div class="lk-main-tabs">
                <div class="lk-main-tab">
                    <div class="lk-main-tab__table" style="margin-left: 20px;" >
                        <div ng-controller="AccountController as vm">
                            Share this link with your friends to get free tokens

                            <div>Link www.exchange1.io/?ref={{vm.account.referral}}</div>
                            <div>Referred count {{vm.account.referredCount}}</div>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="www.exchange1.io/?ref={{vm.account.referral}}"
                                 data-title="Get free tokens" data-description="Free stock and crypto trading"
                                 data-media="/theme/app/img/logo.png"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>